body, html{
  margin: 0;
  height;100%;
  background-color: silver;
}
ul {
  list-style: none;
}
li{
display: grid;
}
.hero-section{
  background-image: url(https://images.pexels.com/photos/1729808/pexels-photo-1729808.jpeg?cs=srgb&dl=lighted-candles-on-white-icing-covered-cake-1729808.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
  color: white;
  padding: 100px 0;
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header{
  text-align: left;
  color: #ffe6e6;
}
 .about-section{
  font-size: 1.2em;
  line-height: normal;
  width: 100%;
  height: 40vh;
  margin: 50px;
 }
 .contact-section{
   display: block;
   height: 100px;
   background: cornsilk;
   margin: 2%;
 }
 .contact-section h1 {
   text-align: center;
   font-size: 30px;
   color: maroon;
 }
 .social-media{
   height: 100px;
   display: flex;
   justify-content: space-between;
   text-align: center;
   font-style: italic;
   color: black;
 }
.content {
  background-color: purple;
  display: inline-flex;
  color: white;
  width: 500px;
  padding: 20px;
  margin: 50px;
  font-size: 1.2em;

}
input{
  padding: 1px;
 font-size: 20px
}
